[submodule "src/addons/ofxDelaunay"]
	path = src/addons/ofxDelaunay
	url = https://github.com/obviousjim/ofxDelaunay.git
[submodule "src/addons/ofxUI"]
	path = src/addons/ofxUI
	url = https://github.com/rezaali/ofxUI.git
[submodule "src/addons/ofxVoronoi"]
	path = src/addons/ofxVoronoi
	url = https://github.com/vanderlin/ofxVoronoi.git
